aiofiles==0.7.0
altgraph==0.17
appdirs==1.4.4
blessed==1.18.1
certifi==2021.5.30
charset-normalizer==2.0.4
domonic==0.4.8
flyingcircus==0.1.4.0
httptools==0.3.0
idna==3.2
macholib==1.15
multidict==5.1.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
pytk==0.0.2.1
requests==2.26.0
sanic==21.6.2
sanic-routing==0.7.1
sanic-session==0.8.0
setuptools-scm==6.0.1
six==1.16.0
ujson==4.1.0
urllib3==1.26.6
uvloop==0.16.0
wcwidth==0.2.5
websockets==9.1
